name: CICD for Youtube

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on: [ubuntu-latest, staging]
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use node js
        uses: actions/setup-node@v3
        with:
         node-version: ${{ matrix.node-version }}
      - name: npm install and build
        run: |
          npm install uuid@latest
          npm run build

        env: 
          CI: true   


  depoly:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
     - name: SSH deploy
       uses: appleboy/ssh-action@master
       with:
          host: ${{ secrets.HOST }}
          username:  ${{ secrets.USER }}
          key:  ${{ secrets.KEY }}
          port:  ${{ secrets.PORT }}
          script: |
              curl -o-   https://raw.githubusercontent.com/creationix/nvm/v0.33.8/install.sh    | bash
              . ~/.nvm/nvm.sh

               nvm install 18.17.1
               nvm use 18
               npm install -g pm2
               cd ~/vue-template
               git pull origin main
               npm install uuid@latest
               npm run build
              
            
